/* Margin bottom by footer height */
body {
	margin-bottom: 40px;
}
/* Reduce height of bootstrap footer */
.navbar {
	min-height: 0px !important;
}
/* Sets width of view and padding around icons */
.container {
	max-width: 680px;
	padding: 7px;
}
/* Centers images in footer */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Centers captions below images */
.caption {
	text-align: center;
}
/* Removes all margin from caption */
.caption p {
	margin: 0;
}
/* Removes border around images and links */
.no-border {
	border: none;
}
/* Add margin on panel header and text (mostly for mobile) */
.panel h3{
	margin:10px;
}
.panel p{
	margin:10px;
}
/* Set images on homepage to 100% width */
.home {
	width: 100% !important;
}
/* Hanging indent on Design Workshops and Seminars list */
#seminar li{
    padding-left: 5em;
    text-indent: -5em;
}
